body {
    margin: 0;
    background: #0d1117;
    color: white;
    font-family: Arial;
    text-align: center;
}

nav {
    background: #161b22;
    padding: 15px;
}

nav a {
    color: #58a6ff;
    margin: 0 15px;
    text-decoration: none;
}

/* Hover effect */
nav a:hover {
    color: white;
}

h1 {
    color: #58a6ff;
    margin-top: 20px;
}

img {
    width: 200px;
    max-width: 90%;
    border-radius: 50%;
    border: 3px solid #238636;
}

/* Responsive */
@media (max-width: 600px) {
    nav a {
        display: block;
        margin: 10px 0;
    }
}